.top-container{
    background-color: #E4F9F5;
    /* position: relative; */
    padding-top: 100px;
    /* font-size: font-size:5vw; */
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  h1{
      margin: auto;
      font-family: "Zen Loop", sans-serif;
      font-size: 5vw;
  /*
      font-size: 5.625rem; */
      color: #66BFBF;
    }
    h2{
        font-family: "Zen Loop", sans-serif;
        /* font-size: 2.5rem; */
        font-size: 2.5vw;
        color: #66BFBF;
        font: normal;

    }
  h3{
      font-family: "Montserrat", sans-serif;
      color: #11999E;
      font-size: 1.25vw;
  }
  body{
      margin: auto;
      text-align: center;
      font-family: "Merriweather Sans", sans-serif;
      font-size: 1vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1{
      margin: auto;
      font-family: "Zen Loop", sans-serif;
      font-size: 16px;
  /*
      font-size: 5.625rem; */
      color: #66BFBF;
    }
    h2{
        font-family: "Zen Loop", sans-serif;
        /* font-size: 2.5rem; */
        font-size: 10px;
        color: #66BFBF;
        font: normal;

    }
  h3{
      font-family: "Montserrat", sans-serif;
      color: #11999E;
      font-size: 8px;
  }
  body{
      margin: auto;
      text-align: center;
      font-family: "Merriweather Sans", sans-serif;
      font-size: 6px;
  }
}


.top_cloud{
    position: relative;
    width:calc(15vw);
    max-width: 150px;
    /* min-width: 60px; */
    right: 18%;
    top: 10%;
}
.bottom_cloud{
  width:calc(15vw);
  max-width: 150px;
  position: relative;
  left: 18%;
  top: 20%;
}

.pro{
    text-decoration: underline;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-img{
    float: left;
    width:calc(6vw);
    max-width: 128px;
    min-width: 20px;
    margin-right: 16px;

}

.skill-img2{
    float: right;
    width:calc(6vw);
    max-width: 128px;
    min-width: 20px;
    margin-left: 16px;
}


hr {
    border-width: 5px;
    border-color: grey;
    border-style: dotted none none;
    width: 10vw;
    min-width: 100px;
    color: white;
}





.bottom-container{
    background-color: #66BFBF;
    padding-top: 40px;
    padding-bottom: 40px;
    width:calc(100vw);
    margin:auto;
}

.footer-link {
    color: #11999E;
    margin: 10px 30px;
}

.footer-end{
    color: #EAF6F6;
}

div {
  width: calc(100vw);
  margin: auto;
}

img {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

img.mountain {
  width:calc(30vw);
  max-width: 750px;
  min-width: 100px;
}

img.self {
  width:calc(15vw);
  max-width: 190px;
  min-width: 60px;
}

.btn {
	background-color:#00cad1;
	border-radius:28px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 100%;
	padding:1% 2%;
	text-decoration:none;
}
.btn:hover {
	background-color:#00b2b8;
}
.btn:active {
    background-color: #099698;
}
