.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    font-size: 2em;
}

h1{
    margin: 50px auto 0 auto;
    font-family: "Zen Loop", sans-serif;
    font-size: 5.625rem;
    color: #66BFBF;

}
h2{
    font-family: "Zen Loop", sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font: normal;
    
}
h3{
    font-family: "Montserrat", sans-serif;
    color: #11999E;
}
body{
    margin: 0;
    text-align: center;
    font-family: "Merriweather Sans", sans-serif;
}
.top_cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom_cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.pro{
    text-decoration: underline;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-img{
    float: left;
    margin-right: 30px;
}

.skill-img2{
    float: right;
    margin-left: 30px;
}


hr {
    border-width: 5px;
    border-color: grey;
    border-style: dotted none none;
    width: 5%;
}

.btn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #66BFBF);
    background-image: -moz-linear-gradient(top, #3D94F6, #66BFBF);
    background-image: -ms-linear-gradient(top, #3D94F6, #66BFBF);
    background-image: -o-linear-gradient(top, #3D94F6, #66BFBF);
    background-image: -webkit-gradient(to bottom, #3D94F6, #66BFBF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 10px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
.bottom-container{
    background-color: #66BFBF;
    padding:40px
}

.footer-link {
    color: #11999E;
    margin: 10px 30px;
}

.footer-end{
    color: #EAF6F6;
}


